main {
background-image: url('img\\bg-main.jpg');
background-repeat: no-repeat;
background-position: 0em -112em;
padding-bottom: 4em;
}

h1, h4{
	color:#fff !important;
}

button{
	cursor: pointer;
}


#titulom{
	padding-top: 2em;
}

 #submain{
 	margin-top: 2em;
 }




#info{
	padding-top: 30px;
	text-align: center;
}

#info p {
    text-align: left;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
