main {
background-image: url('img\\bg-main.jpg');
height:375px;
}


#titulom, #submain{
	padding-top: 2em;
	font-family: Arial;
	color:#f7f7f9 ;
	text-align: center;
}

#apply, #test,#selection,#treino{
	width: 10em;
	padding-left: 2em;
	align-content: center;
}

.center-block {
  float: none;
}
